body{
    background: url(https://www.collegebox.com.br/site/visuais/imagens/aluno_grande_3.201902162014.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    
}

#tudo{
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    font-style: oblique;
    font-family: fantasy;
    font-size: large;
    color:rgb(238, 197, 16);
}


#fundo img{
    width: 100%;
    position: absolute;
}

#btn{
    display: flex;
    text-align: center;
    color:rgb(238, 197, 16);
    justify-content: center;
    margin-top: 12%;
    
}

button{
    height: 20px;
    width: 20em;
    height: 10em;
    background-color: rgba(0,0,0,0.6);
}

button:hover{
    background-color:rgb(238, 197, 16)   ;
}



   