body{
    background: url(https://www.collegebox.com.br/site/visuais/imagens/aluno_grande_3.201902162014.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

header{
    
    font-family:fantasy;
    font-size: 36px;
    background: rgba(0,0,0,0.6);
    text-align: end;
}

a:hover{
    color:rgb(238, 197, 16);
}

#form-cadastro{
    display:flex;
    padding: 1em;
    border: 1px solid black ;
    border-radius: 1em;
    background: rgba(0,0,0,0.6);
    width: 300px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0%;
    color: rgb(238, 197, 16);
}

h1{
    display:flex;
    justify-content: center;
    margin-top: 10%;
    font-family: fantasy;
    color: rgb(11, 14, 201);
}

input[type="text"], input[type="password"]{
    border-radius: 20px;
    text-align: center;
}

input[type="button"]{
    border-radius:20px;
    position: relative;
    left:0%;
    width: 100%;
}
input[type="button"]:hover{
    background-color:rgb(238, 197, 16) ;   
}